<form action="/views/new" method="post">
    <label>Item <input type="text" name="item_name"></label>
    <label>description <input type="text" name="item_description"></label>
    <input type="submit" value="Spara">
</form>