body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: saddlebrown;
  background-color: navajowhite;
  font-size: x-large;
  margin: 1em;
}

div{

  background-color: burlywood;

}

#item_list_item {

  background-color: beige;
  border: 30px;
  border-radius: 10px;
  margin: 20px;
}

p {

  margin: 20px;
  color: salmon;

}